[Desktop Entry]
Version=1.0
Name=Umkoin Core
Comment=Connect to the Umkoin P2P Network
Comment[de]=Verbinde mit dem Umkoin peer-to-peer Netzwerk
Comment[fr]=Umkoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Umkoin, eşten eşe kriptografik sanal para birimi
Exec=umkoin-qt %u
Terminal=false
Type=Application
Icon=umkoin128
MimeType=x-scheme-handler/umkoin;
Categories=Office;Finance;P2P;Network;Qt;
StartupWMClass=Umkoin-qt
