
## <summary>policy for umkoin</summary>


########################################
## <summary>
##	Transition to umkoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`umkoin_domtrans',`
	gen_require(`
		type umkoin_t, umkoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, umkoin_exec_t, umkoin_t)
')


########################################
## <summary>
##	Execute umkoin server in the umkoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`umkoin_initrc_domtrans',`
	gen_require(`
		type umkoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, umkoin_initrc_exec_t)
')


########################################
## <summary>
##	Search umkoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`umkoin_search_lib',`
	gen_require(`
		type umkoin_var_lib_t;
	')

	allow $1 umkoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read umkoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`umkoin_read_lib_files',`
	gen_require(`
		type umkoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, umkoin_var_lib_t, umkoin_var_lib_t)
')

########################################
## <summary>
##	Manage umkoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`umkoin_manage_lib_files',`
	gen_require(`
		type umkoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, umkoin_var_lib_t, umkoin_var_lib_t)
')

########################################
## <summary>
##	Manage umkoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`umkoin_manage_lib_dirs',`
	gen_require(`
		type umkoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, umkoin_var_lib_t, umkoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a umkoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`umkoin_admin',`
	gen_require(`
		type umkoin_t;
		type umkoin_initrc_exec_t;
		type umkoin_var_lib_t;
	')

	allow $1 umkoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, umkoin_t)

	umkoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 umkoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, umkoin_var_lib_t)

')

