policy_module(umkoin, 1.100.1)

########################################
#
# Declarations
#

type umkoin_t;
type umkoin_exec_t;
init_daemon_domain(umkoin_t, umkoin_exec_t)

permissive umkoin_t;

type umkoin_initrc_exec_t;
init_script_file(umkoin_initrc_exec_t)

type umkoin_conf_t;
files_type(umkoin_conf_t)

type umkoin_var_lib_t;
files_type(umkoin_var_lib_t)

type umkoin_var_run_t;
files_type(umkoin_var_run_t)

type umkoin_port_t;
corenet_port(umkoin_port_t)

########################################
#
# umkoin local policy
#
allow umkoin_t self:process { fork };

allow umkoin_t self:fifo_file rw_fifo_file_perms;
allow umkoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(umkoin_t, umkoin_conf_t, umkoin_conf_t)
manage_files_pattern(umkoin_t, umkoin_conf_t, umkoin_conf_t)

manage_dirs_pattern(umkoin_t, umkoin_var_lib_t, umkoin_var_lib_t)
manage_files_pattern(umkoin_t, umkoin_var_lib_t, umkoin_var_lib_t)
files_var_lib_filetrans(umkoin_t, umkoin_var_lib_t, { dir file })

manage_dirs_pattern(umkoin_t, umkoin_var_run_t, umkoin_var_run_t)
manage_files_pattern(umkoin_t, umkoin_var_run_t, umkoin_var_run_t)

sysnet_dns_name_resolve(umkoin_t)
corenet_all_recvfrom_unlabeled(umkoin_t)

allow umkoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(umkoin_t)
corenet_tcp_sendrecv_generic_node(umkoin_t)
corenet_tcp_sendrecv_all_ports(umkoin_t)
corenet_tcp_bind_generic_node(umkoin_t)

gen_require(`
    type umkoin_port_t;
')
allow umkoin_t umkoin_port_t:tcp_socket name_bind;

gen_require(`
    type umkoin_port_t;
')
allow umkoin_t umkoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(umkoin_t)

files_read_etc_files(umkoin_t)

miscfiles_read_localization(umkoin_t)

sysnet_dns_name_resolve(umkoin_t)

allow umkoin_t umkoin_exec_t:file execute_no_trans;
allow umkoin_t self:process setsched;
corecmd_exec_ls(umkoin_t)
corenet_tcp_connect_http_port(umkoin_t)
dev_read_urand(umkoin_t)
fs_getattr_xattr_fs(umkoin_t)
kernel_read_system_state(umkoin_t)
