[Unit]
Description=Umkoin's distributed currency daemon
After=network.target

[Service]
User=umkoin
Group=umkoin

Type=forking
PIDFile=/var/lib/umkoind/umkoind.pid
ExecStart=/usr/bin/umkoind -daemon -pid=/var/lib/umkoind/umkoind.pid \
-conf=/etc/umkoin/umkoin.conf -datadir=/var/lib/umkoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target