# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit umkoind.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/vmta/umkoin.conf

[Unit]
Description=Umkoin daemon
After=network.target

[Service]
ExecStart=/usr/bin/umkoind -daemon -conf=/etc/vmta/umkoin.conf -pid=/run/umkoind/umkoind.pid
# Creates /run/umkoind owned by umkoin
RuntimeDirectory=umkoind
User=umkoin
Type=forking
PIDFile=/run/umkoind/umkoind.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
